<!DOCTYPE html>
<html>
<head>
	<% include head %>
</head>
<body>
	<% include navbar %>

	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<div id="myCarousel" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
					<ol class="carousel-indicators">
						<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
						<li data-target="#myCarousel" data-slide-to="1"></li>
						<li data-target="#myCarousel" data-slide-to="2"></li>
					</ol>

					<!-- Wrapper for slides -->
					<div class="carousel-inner" role="listbox">
						<div class="item active">
							<img src="images/rs-jih.jpg" alt="Image">
							<div class="carousel-caption">
								<h3>SELAMAT DATANG</h3>
								<p>Rumah Sakit MEDIKA Surabaya</p>
							</div>  
						</div>
						<div class="item">
							<img src="images/dokter-spesialis.jpg" alt="Image">
							<div class="carousel-caption">
								<h3>Dokter Profesional</h3>
								<p>Rumah sakit MEDIKA Surabaya memiliki tenaga medis yang sangat memadai.
								Dengan <I>license</I> di setiap bidangnya dan mampu diandalkan.</p>
							</div>      
						</div>
						<div class="item">
							<img src="images/dokter-indonesia.jpg" alt="Image">
							<div class="carousel-caption">
								<h3>Penangan yang Utama</h3>
								<p>Bagi kami, anda adalah yang utama. Penanganan yang sigap dan tak memandang
								materi adalah prinsip kami.</p>
							</div>     
						</div>
					</div>

					<!-- Left and right controls -->
					<a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
						<span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
						<span class="sr-only">Previous</span>
					</a>
					<a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
						<span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
						<span class="sr-only">Next</span>
					</a>
				</div>
			</div>
				
			<div class="col-sm-4">
				<!--<button type="button" class="btn btn-success">Success</button>-->
				<div class="well">
					<!--<img src="../../images/calendar.png" class="img-responsive" alt="Image">-->
					<h3 align="center">ANTRIAN APOTEK</h3>
					<h6 align="center">Minggu, 4 November 2017</h6>
					<h6 align="center">00:21:12 WIB</h6>
					<h1 align="center" height="30px"><b>23</b></h1>
				</div>
					<!--<a href="#" class="btn btn-info btn-block" role="button"><span><i class="fa fa-date-range"></i></span>Link Button</a>
					<div class="well">
					   <p>Upcoming Events..</p>
					</div>
					<div class="well">
					   <p>Visit Our Blog</p>
					</div>-->
				<div class="well">
					<!--<img src="../../images/calendar.png" class="img-responsive" alt="Image">-->
					<h3 align="center">ANTRIAN POLI</h3>
					<h6 align="center">Minggu, 4 November 2017</h6>
					<h6 align="center">00:21:12 WIB</h6>
					<h1 align="center" height="30px"><b>54</b></h1>
				</div>
			</div>
		</div>
		<hr>
	</div>
	<!-- end container -->

	<div class="container text-center">    
		<h3>MENU</h3>
		<br>
		<div class="row">
			<div class="col-sm-4">
				<img src="images/pills.png" class="img-responsive" style="width:30%; margin-left: 125px; margin-bottom: 20px;" alt="Image">
				<a href="php/pasien/daftarPoli.php" class="btn btn-warning" role="button">Ambil Antrian Poli</a>
				<!--<button type="button" class="btn btn-warning" href="">Daftar Poli</button>-->
			</div>
			<div class="col-sm-4"> 
				<img src="images/jadwal.png" class="img-responsive" style="width:30%; margin-left: 125px; margin-bottom: 20px;" alt="Image">
				<a href="php/pasien/jadwalDokter.php" class="btn btn-primary" role="button">Jadwal Praktek Dokter</a>

			</div>
			<div class="col-sm-4">
				<img src="images/doctor.png" class="img-responsive" style="width:30%; margin-left: 125px; margin-bottom: 20px;" alt="Image">
				<a href="php/pasien/daftarDokter.php" class="btn btn-danger" role="button">Lihat Dokter</a>
			</div>
		</div>
	</div>

	<div class="container text-center" style="margin-top: 20px;">    
		<hr>
		<h3>Our Partners</h3>
		<br>
		<div class="row">
		
			<div class="col-lg-12">
				<div class="col-sm-2">
					<img src="images/sangsya.jpg" class="img-circle" style="width:100%" alt="Image">
					<p>Eka Anre Sangsya<br>(2103151032)</p>
				</div>
				<div class="col-sm-2"> 
					<img src="images/" class="img-circle" style="width:100%" alt="Image">
					<p>Arinda Restu Nandatiko<br>(2103151033)</p>
				</div> 
				<div class="col-sm-2"> 
					<img src="images/sherly.jpg" class="img-circle" style="width:100%" alt="Image">
					<p>Sherly Febrina Luhukay<br>(2103151035)</p>
				</div>
				<div class="col-sm-2"> 
					<img src="images/kila.jpg" class="img-circle" style="width:100%" alt="Image">
					<p>Kila Kiantari Katasya<br>(2103151046)</p>    
				</div>
				<div class="col-sm-2"> 
					<img src="images/" class="img-circle" style="width:100%" alt="Image">
					<p>Nur Annisa Novirina<br></p>
				</div>
			</div>
		</div>
	</div>


	<% include footer %>	
</body>
</html>