<nav class="navbar navbar-inverse">
  <div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>                        
		</button>
		<img class="logo" src="/images/logo.png"><a class="navbar-brand" href="index.php"></a>
	</div>
	<div class="collapse navbar-collapse" id="myNavbar">
		<ul class="nav navbar-nav">
			<li><a href="/" style="color: #F1F8E9;">Home</a></li>
			<li><a href="/poli" style="color: #F1F8E9;">Daftar Poli</a></li>
			<li><a href="/dokter/jadwal" style="color: #F1F8E9;">Jadwal Dokter</a></li>
			<li><a href="/dokter" style="color: #F1F8E9;">Profil Dokter</a></li>
		</ul>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="/login" style="color: #F1F8E9;"><span class="glyphicon glyphicon-log-in" style="color: #F1F8E9;"></span> Login</a></li>
		</ul>
	</div>
  </div>
</nav>